.carousel-item p{
    font-size: 1.3em;
}


#fondo{
    margin: 0;
    background-color: rgba(30,30,30);
    font-family:roboto,sans-serif;
}
.navbar-brand-logo h2{
    color: rgb(255, 255, 255);
    padding-bottom: none;
    margin-bottom: 0;
}

.container-fluid a{
    font-weight: bold;
    text-decoration: none;
    font-size:80px;
    
}
.container-fluid img{
    padding-right: 1.1vw;
    vertical-align: top;
    display: inline-block;
}



#navbarSupportedContent a{
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}
#navbarSupportedContent a:hover{
    color: rgb(116, 113, 106);
}

#ofertas img{
    max-width: 100%;
}
#ofertas {
    text-align: center;
    padding: 50px 12px;
    padding-top: 70px;
    ;
}

.carousel-caption{
    font-size:3vw;

    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
}
.carousel-caption h3{
    font-size:5vw;
}
.carousel-caption h5{
    font-size:6vw;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
}



#cartas {
    padding-bottom: 100px;

}

#cartas h6{
    font-size:1.1vw;
    font-weight: bold;

}

#cartas h5{
    font-size:1.3vw;
    font-weight: bold;

}

#cartas h4{
    font-size:1.2vw;
    font-style: italic;
}

#cartas h3{
    font-size:1.8vw;


}

small{
    display: flex;
    justify-content: center;
}


.detalle{
    text-align: initial;
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: center;
}
.detalle p{
    font-size: 1.5em;
}
.detalle a{
    text-decoration: none;
    color: rgb(253, 255, 126);
}
.detalle a:hover{
    color:wh/ite;
}
#perritos h2{
    padding-top: 30px;
    font-size: 3.5em;

}
#perritos {

    padding-top: 20px;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 98vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("/static/pet/img/fondoperro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#perritos .container{
    padding-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;


}
#gatitos h2{
    padding-top: 30px;
    font-size: 3.5em;

}
#gatitos {
    padding-top: 20px;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 98vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("/static/pet/img/fondogato.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#gatitos .container{
    padding-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;

}
#aves h2{
    padding-top: 30px;
    font-size: 3.5em;

}
#aves {
    padding-top: 20px;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 98vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("/static/pet/img/fondoave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#aves .container{
    padding-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;

}
#roedores h2{
    padding-top: 30px;
    font-size: 3.5em;

}
#roedores {
    padding-top: 20px;
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 98vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("/static/pet/img/fondoroedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#roedores .container{
    padding-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.redondo{

    border: 2px solid black;
    border-radius: 50%;

}

#quienes-somos .container{

    text-align: center;
    padding: 200px 12px;

}
#quienes-somos h2{
    padding-top: 20px;
    font-size: 2.5em;

}
#quienes-somos img{

    border-radius: 30%;
    max-width: 30%;

}

#quienes-somos p{
    font-size: 2.0em;
}
#quienes-somos {
    
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 98vh;
    background-color: rgba(30,30,30);
}

.parrafo{
    display: none;
}

.imagen{
    display: none;
}

.boton-contacto button{
    font-size: 1.7em;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color:#FF2442;
}
.boton-contacto button:hover{
    background-color:#f84c63;
}

#contactenos h2{
    font-size: 3.5em;
    padding-bottom: 40px;

}
#contactenos p{
    font-size: 1.5em;
    padding-bottom:25px;

}
#contactenos {
    font-weight: bold;
    text-shadow: 2px 5px 5px rgba(0,0,0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("/static/pet/img/starken.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#contactenos button{
    font-size: 1.7em;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color:#FF2442;

}
#contactenos button:hover{
    background-color:#f84c63;
}


#contactenos .boton-contacto button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color:#33dd3c;
}



.errores{
    padding-top:3px;
    color: rgb(255, 0, 0);
    display: none;
}

.botonn{
    font-size: 1.7em;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color:#FF2442;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
}
.botonn{
    background-color:#f84c63;

}

footer{
    background-color:rgba(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.modal-content { background: rgba(0, 0, 0, 0.8)!important; }
